@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-Bold.otf');
}

a {
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
}

::selection {
    background: rgba(17, 153, 142, 0.5);
}

/* INDEX.PHP STYLES */

html, body {
    height: 100%;
    margin: 0;
}

.middle {
    padding-bottom: 5vh;
    margin: 5em;
}

.button {
    transition: 0.3s;
    padding: 2em;
    font-family: open sans;
    text-align: center;
    border-radius: 6px;
    font-weight: 400;
    border: 2px solid;
    border-bottom-width: 4px;
}

.button:hover {
    transform: scale(1.07);
    color: white;
}

.button:active {
    transform: scale(0.97);
}

.grandeur {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rose {
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vicecity {
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: .5em 0;
    color: white;
    font-family: "open sans";
    text-align: center;
    font-weight: 100;
}

.bannerWrap {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: inline;
}

.input {
    display: inline-block;
    transition: 0.3s;
    border: none;
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    text-align: center;
    min-width: 7em;
    font-weight: 400;
    opacity: 0.75;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: .1em 20px;
    padding-right: .6em;
}

.input:hover, .input:focus{
    min-width: 9em;
}

.input:focus {
    min-width: 12em;
    outline: none;
    opacity: 1;
}

#ampersandIcon {
    height: 16px;
    position: absolute;
    opacity: .7;
    margin: 2px 5px;
    font-weight: 500;
}

.bannerProp {
    display: inline-block;
    transition: .2s;
    opacity: 0;
    margin: 2px 5px;
    font-weight: 500;
    width: 60px;
    float: left;
    overflow: hidden;
    text-align: left;
    cursor: default;
}

#urlIcon {
    float: left;
}

#goIcon {
    float: right;
    background: rgba(255,255,255,0.5);
    border-radius: 6px;
    text-align: center;
    padding: .1em;
    width: 30px;
    margin: 1px 5px;
    margin-right: 27px;
    cursor: pointer;
}

#goIcon:hover {
    transform: scale(1.1);
}

/* INDEX.PHP OVER */

.centered {
    margin-left: auto;
    margin-right: auto;
}

.area {
    margin-left: 5vw;
    margin-right: 2vw;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: .5em 1em;
    width: 100vw;
    color: grey;
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 12px;
    background: white;
}

.logo {
    color: black;
    font-family: "Pacifico";
    font-size: 18px;
}

.titlewrap{
    transition: .3s;
    position: fixed;
    padding-top: 50px;
    padding-bottom: 22px;
    z-index: 500;
    width: 100%;
}

.titlewrap.retracted {
    padding-top: 22px;
    padding-bottom: 10px;
    background: white;
}

.titlewrap.small {
    padding-top: 25px;
}

.title {
    transition: .3s;
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin-bottom: 3px;
}

.title:focus {
    outline: none;
    border-bottom: 4px solid rgb(110, 110, 110);
    margin-bottom: 0;
}

.title.big {
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 42px;
}

.title.retracted {
    font-size: 28px;
}

.title.small {
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 32px;
}

.grid {
    transition: 0.3s;
    border-radius: 4px;
    padding-bottom: 60px;
}

.item {
    position: relative;
    transition: 0.1s;
    width: 16%;
    min-width: 160px;
    font-family: Europa, sans-serif;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.item .view {
    position: relative;
    width: 100%;
    padding-top: 60%;
    border-radius: 4px;
}

.jpg {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jpg .extension {
    color: #23c086;
}

.pdf {
    background: #a73737;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pdf .extension {
    color: #a73737;
}

.item .preview {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: 60%;
    transition: 0.25s;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
}

.fileicon {
    width: 2vw;
    min-width: 21px;
}

.item .previewContent {
    position: absolute;
    top: 0;
    padding: 1.5em;
    font-weight: 200;
}

.item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: 60%;
    transition: 0.25s;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
}

.item .overlayContent {
    position: absolute;
    top: 0;
    padding: 1.5em;
    font-weight: 200;
}

.item .name {
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item.updated .name::after {
    position:absolute;
    padding: 1px 3px;
    border-radius: 15px;
    color: #11998e;
    background: #11998e;
    font-size: 8px;
    content: "+";
    margin:4px 6px;
}

.item:hover {
    transform: scale(1.05);
}

.item:hover .name {
    /*overflow: visible;
    white-space: normal;*/
}

.item:hover .preview {
    opacity: 0;
}

.item:hover .overlay {
    opacity: 1;
}

.item:active {
    transform: scale(0.97);
}

.item .extension {
    display: block;
    font-size: 20px;
}

.centerwrap {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 350px;
}

.emptystate {
    height: 60vh;
    font-family: "Open Sans";
    color: darkgray;
    font-size: 22px;
    font-weight: 100;
    margin: 0 2em;
}

.dz-preview {
    display: none;
}

#dummyItem {
    display: none;
}

#dummyItem .item .view {
    background: transparent;
    border: 3px solid green;
}

.filesize {
    font-weight: 400;
}

.dragging {
    opacity: 1;
    background: rgb(250, 250, 250);
}

.greyed {
    color: rgb(110, 110, 110);
    opacity: 0.75;
}

.subtitle {
    transition: .2s;
    font-family: "Open Sans";
    font-size: 13px;
    width: 6em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    color: #11998e;
    cursor: default;
}

.subtitle:hover{
    width: 35em;
}