@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/LeagueSpartan-Bold.otf');
}

a {
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
}

::selection {
    background: rgba(17, 153, 142, 0.5);
}

/* INDEX.PHP STYLES */

html, body {
    height: 100%;
    margin: 0;
}

.middle {
    /*padding-bottom: 5vh;*/
    margin: 5em;
}

.button {
    transition: 0.3s;
    padding: 2em;
    font-family: "Open Sans";
    text-align: center;
    border-radius: 6px;
    font-weight: 400;
    border: 2px solid;
    border-bottom-width: 4px;
}

.button:hover {
    transform: scale(1.07);
    color: white;
}

.button:active {
    transform: scale(0.97);
}

.grandeur {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rose {
    background: #E8CBC0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vicecity {
    background: #3494E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: .5em 0;
    color: white;
    font-family: "open sans";
    text-align: center;
    font-weight: 100;
}

.bannerWrap {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: inline;
}

.input {
    display: inline-block;
    transition: 0.3s;
    border: none;
    color: white;
    font-family: "Open Sans";
    font-size: 16px;
    text-align: center;
    min-width: 7em;
    font-weight: 400;
    opacity: 0.75;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: .1em 20px;
    padding-right: .6em;
}

.form-input {
    display: block;
    transition: 0.3s;
    border: none;
    font-family: "Open Sans";
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    opacity: 0.75;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: .5em 1em;
    min-width: 15em;
}

.form-input:hover {
    transform: scale(1.05);
}

.form-input:focus {
    transform: scale(1.1);
    outline: none;
}

.form-button {
    padding: 1em 1.5em;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px;
    background: transparent;
}

.form-button:focus {
    outline: none;
}

.input.form:hover, .input.form:focus {
    min-width: 15em;
}

.input:hover, .input:focus{
    min-width: 9em;
}

.input:focus {
    min-width: 12em;
    outline: none;
    opacity: 1;
}

#ampersandIcon {
    height: 16px;
    position: absolute;
    opacity: .7;
    margin: 2px 5px;
    font-weight: 500;
}

.bannerProp {
    display: inline-block;
    transition: .2s;
    opacity: 0;
    margin: 2px 5px;
    font-weight: 500;
    width: 60px;
    float: left;
    overflow: hidden;
    text-align: left;
    cursor: default;
}

#urlIcon {
    float: left;
}

#goIcon {
    float: right;
    background: rgba(255,255,255,0.5);
    border-radius: 6px;
    text-align: center;
    padding: .1em;
    width: 30px;
    margin: 1px 5px;
    margin-right: 27px;
    cursor: pointer;
}

#goIcon:hover {
    transform: scale(1.1);
}

/* INDEX.PHP OVER */

.centered {
    margin-left: auto;
    margin-right: auto;
}

.area {
    position: relative;
    margin-left: 5vw;
    margin-right: 5vw;
}

.footer {
    position: fixed;
    bottom: 0;
    padding: .5em 1em;
    width: 100vw;
    color: grey;
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 12px;
    background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}

.logo {
    color: black;
    font-family: "Pacifico";
    font-size: 18px;
}

.titlewrap{
    transition: .3s;
    position: fixed;
    padding-top: 50px;
    padding-bottom: 22px;
    z-index: 500;
    width: 100%;
}

.titlewrap.retracted {
    padding-top: 22px;
    padding-bottom: 10px;
    background: white;
}

.titlewrap.small {
    padding-top: 25px;
}

.title {
    transition: .3s;
    display: inline-block;
    border-bottom: 1px solid transparent;
    margin-bottom: 3px;
}

.title:focus {
    outline: none;
    border-bottom: 4px solid rgb(110, 110, 110);
    margin-bottom: 0;
}

.title.big {
    font-family: "League Spartan";
    font-weight: 500;
    font-size: 42px;
}

.title.retracted {
    font-size: 28px;
}

.title.small {
    font-family: "Open Sans";
    font-weight: 100;
    font-size: 32px;
}

.grid {
    transition: 0.3s;
    border-radius: 4px;
    margin-top: 1em;
    margin-bottom: 4em;
}

.item {
    position: relative;
    transition: 0.1s;
    width: 16%;
    min-width: 160px;
    max-width: 180px;
    font-family: Europa, sans-serif;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.item .view {
    position: relative;
    width: 100%;
    padding-top: 60%;
    border-radius: 4px;
}

.jpg {
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jpg .extension {
    color: #23c086;
}

.pdf {
    background: #a73737;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7a2828, #a73737);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7a2828, #a73737); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pdf .extension {
    color: #a73737;
}

.item .preview {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: 60%;
    transition: 0.25s;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
}

.fileicon {
    width: 2vw;
    min-width: 21px;
}

.item .previewContent {
    position: absolute;
    top: 0;
    padding: 1.5em;
    font-weight: 200;
}

.item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top: 60%;
    transition: 0.25s;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
}

.item .overlayContent {
    position: absolute;
    top: 0;
    padding: 1.5em;
    font-weight: 200;
}

.item .name {
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item.updated .name::after {
    position:absolute;
    padding: 1px 3px;
    border-radius: 15px;
    color: #11998e;
    background: #11998e;
    font-size: 8px;
    content: "+";
    margin:4px 6px;
}

.item:hover {
    transform: scale(1.05);
}

.item:hover .name {
    /*overflow: visible;
    white-space: normal;*/
}

.item:hover .preview {
    opacity: 0;
}

.item:hover .overlay {
    opacity: 1;
}

.item:active {
    transform: scale(0.97);
}

.item .extension {
    display: block;
    font-size: 20px;
}

.centerwrap {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 350px;
}

.emptystate {
    height: 60vh;
    font-family: "Open Sans";
    color: darkgray;
    font-size: 22px;
    font-weight: 100;
    margin: 0 2em;
}

.dz-preview {
    display: none;
}

#dummyItem {
    display: none;
}

#dummyItem .item .view {
    background: transparent;
    border: 3px solid green;
}

.filesize {
    font-weight: 400;
}

.more-info {
    transition: .2s;
    font-size: 13px;
    margin: .5em 0;
    color: #23c086;
}

.more-info:hover {
    opacity: .5;
}

.dragging {
    opacity: 1;
    background: rgb(250, 250, 250);
}

.greyed {
    color: rgb(110, 110, 110);
    opacity: 0.75;
}

.subtitle {
    transition: .2s;
    font-family: "Open Sans";
    font-size: 13px;
    width: 6em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    color: #11998e;
    cursor: default;
}

.subtitle:hover{
    width: 35em;
}

.versions-view .name {
    font-family: League Spartan;
    text-align: center;
    font-size: 32px;
    margin: .5em 0;
    max-width: 700px;
    word-wrap: break-word;
}

.blackout {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    position: fixed;
    top: 0;
    display: none;
    align-content: center;
    align-items: center;
    opacity: 0;
    transition: .2s;
}

.hover-view {
    transition: .2s;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 4px;
    transform: scale(0.9);
    max-height: 430px;
}

.blackout.displaying {
    display: flex;
}

.hover-view.displaying {
    transform: scale(1);
}

.versions-view {
    padding: 1.5em;
    max-height: 350px;
    overflow-y: scroll;
}

.versions {
    margin-bottom: 1em;
    width: 100%;
}

.versions th {
    font-weight: 400;
}

.versions td {
    font-weight: 100;
}

.versions td, th {
    padding: .5em;
    font-family: Europa, sans-serif;
}

.versions tr {
   transition: .2s;
}

.versions img {
    width: 1em;
}

.versions tr:hover {
    color: darkgray;
}

.version-property.id {
    text-align: center;
    color: gray;
}

.version-property.download {
    transition: .1s;
    cursor: pointer;
    color: #23c086;
}

.version-property.download:hover {
    transform: scale(1.1);
}

.version-property.download:active {
    transform: scale(.9);
}

.white-fade {
    position: fixed;
    width: 100%;
    height: 50px;
}

.white-fade.bottom {
    background: -webkit-linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    bottom: 0;
}

.white-fade.top {
    background: -webkit-linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0));
    top: 0;
}

.register-login {
    transition: .2s;
    display: inline-block;
    text-align: center;
    padding: .5em;
    margin: .5em;
    font-family: Europa, sans-serif;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

.register-login:active {
    opacity: .5;
}

.clickable {
    cursor: pointer;
    transition: transform .2s;
}

.clickable:hover {
    transform: scale(1.1);
}

.clickable:active {
    transform: scale(.9);
}

.login {
    margin: 2em;
    text-align: center;
}

.loginTitle {
    font-family: "League Spartan";
    padding: .5em;
    font-size: 20px;
}

.loginMessage {
    font-family: Europa, sans-serif;
    width: 15em;
    padding: 1.5em 1em;
    margin: 0 auto;
}

.splashWrapper {
    display: flex;
    justify-content: center;
    height: 50vh;
}

#splashZone {
    margin: 0;
    margin-top: auto;
}

.userWrapper {
    width: 50em;
    margin: 0 auto;
}

#userZone {
    padding: 2em;
}

.userFolders {
    margin: 0 3em;
    border-radius: 2px;
}

.folderPreview {
    position: relative;
    transition: .2s;
    padding: 1.5em;
    height: 3em;
}

.folderPreview .title {
    font-family: 'League Spartan';
    font-size: 20px;
}

.folderPreview .url {
    font-family: "Open Sans";
}

.folderPreview .left {
    transition: .2s;
    cursor: pointer;
}

.folderPreview .right {
    cursor: pointer;
    transition: .2s;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1.5em 0;
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.folderPreview .left:active {
    transform: scale(.95);
}

#emptyState {
    padding:2em;
}

#emptyState .title {
    font-family: "League Spartan";
}

#emptyState .content {
    font-family: "Open Sans";
}

.logOutButton {
    cursor: pointer;
    float: right;
    padding: .5em;
    margin-right: 2em;
}

.logOutButton:hover {
    color: white;
}

.removeButton {
    cursor: pointer;
    transition: .2s;
    position: absolute;
    right: 4em;
    padding: .5em .7em;
    opacity: 0;
}

.folderArea:hover .removeButton:hover {
    opacity: 1;
}

.folderArea:hover .removeButton {
    opacity: .5;
}